@model HRM.Web.ViewModel.UserVM
@{
    ViewBag.Title = View.ChangeProfile;
}
@Styles.Render("~/Content/join/css")
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        @using (Html.BeginForm(MVCManager.Controller.Home.ChangeProfile, MVCManager.Controller.Home.Name, FormMethod.Post, new { @class = "joinus" }))
        {
            <h2>@Translation.ChangesProfile</h2>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                        @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control input-lg has-feedback", @placeholder = Translation.FirstName, @maxlength = "64" } })
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control input-lg", @type = "email", @required = "true", @maxlength = "128" } })
            </div>            
            <div class="form-group">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", @placeholder = Translation.Password, @maxlength = "128" } })
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", @id = Translation.PasswordId, @placeholder = Translation.NewPassword, @pattern = ".{6,}", @title = "Six or more characters", @maxlength = "128" } })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(m => m.ConfirmNewPassword, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", @id = Translation.PasswordConfirmId, @placeholder = Translation.PasswordConfirmation, @maxlength = "128" } })
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-md-6"><button type="submit" class="btn btn-primary btn-block btn-lg">@Translation.ApplyChanges</button></div>
                <div class="col-xs-6 col-md-6">
                    @Html.ActionLink(@Translation.ResetChanges, MVCManager.Controller.Home.ChangeProfile, MVCManager.Controller.Home.Name, new { @class = "btn btn-danger btn-block btn-lg" })
                </div>
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3> @Model.Message</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Translation.Close</button>
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    @section Script
{
        @Scripts.Render("~/Scripts/modalValidation/js")
    }
}
else
{
    @section Script{
        @Scripts.Render("~/Scripts/passwordValidation/js")
    }
}